extends layout

block content
  h1= title
  
  each message in messages
    div(class="message-board")
      p(class="message") #{message.user}:
      p #{message.text}
      p #{message.added}
  
  a(href="/new" class="send-btn") Send Message
